@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
  }

  .logo {
    filter: invert(45%) sepia(32%) saturate(355%) hue-rotate(68deg)
      brightness(97%) contrast(94%);
  }
}

.header1 {
  font-size: clamp(2.3rem, 8vw, 4.3rem);
  line-height: 1.1;
}

.header2 {
  font-size: clamp(1.6rem, 8vw, 3rem);
  line-height: 1.1;
}

.header3 {
  font-size: clamp(1.5rem, 8vw, 2.7rem);
  line-height: 1.2;
}

.box-shadow {
  box-shadow: 0 300px 5px 1000px #000000bf;
}
